@use 'breakpoint' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--base-size-64));

  .section {
    border-bottom: 1px solid var(--brand-color-border-default);

    .status {
      display: inline-flex;
      gap: var(--base-size-8);
      align-items: center;

      margin-block-start: var(--base-size-16);
      padding: var(--base-size-8) 14px;
      border: 1px solid var(--brand-color-border-default);
      border-radius: var(--base-size-8);

      font-size: 14px;
      color: var(--brand-color-text-default);

      background-color: var(--brand-color-canvas-subtle);
    }
  }

}
